<%- include('../layout/ui-header.ejs') %>

    <!--==============================
      Hero Area
    ==============================-->
    <section class="vs-hero-wrapper position-relative  ">
        <div class="vs-hero-carousel hero_slider_layer position-relative" data-navprevnext="true" data-height="800" data-container="1900"
            data-slidertype="responsive">
            <% sliders.forEach(slider=> { %>
                <div class="ls-slide" data-ls="duration: 13000; transition2d: 5;">
                    <img src="/uploads/<%= slider.sliderImage %>" alt="Hero Image" class="ls-bg">
                    <h1 class="text-title ls-l ls-responsive"
                        data-ls-mobile="left: 100px; top: 120px; font-size: 120px;"
                        data-ls-tablet="left: 100px; top: 80px; font-size: 92px;"
                        data-ls-laptop="left: 100px; top: 120px; font-size: 82px;"
                        style="left: 235px; top: 208px; font-size: 62px; font-weight: 700;"
                        data-ls="delayin: 600; easingin: easeInOutSine; texttransitionin: true; textstartatin: transitioninstart; textdurationin: 2000; texttypein: words_asc; textshiftin: 200; textoffsetyin: -100; offsetyout: -100; durationout: 2000;">
                        <%= slider.title %>
                    </h1>

                    <p class="ls-l text-white ls-responsive ls-hide-sm" data-ls-mobile="left: 100px;"
                        data-ls-tablet="left: 100px; top: 360px; font-size: 34px; width: 1000px; line-height: 52px;"
                        data-ls-laptop="left: 100px; top: 380px; font-size: 26px; width: 800px; line-height: 48px;"
                        style="left: 235px; top: 400px; width: 605px; font-size: 16px; font-weight: 400; white-space: normal; letter-spacing: 0.02em; line-height: 28px;"
                        data-ls="delayin: 800; texttransitionin: true; textstartatin: transitioninstart; texttypein: lines_asc; textshiftin: 100; textoffsetyin: 100; textdurationin: 2000; offsetyout: 100; durationout: 2000;">
                        <%= slider.description %>
                    </p>

                    <div class="ls-btn ls-l ls-responsive" data-ls-mobile="left: 100px;"
                        data-ls-tablet="left: 100px; top: 580px;" data-ls-laptop="left: 100px; top: 580px;"
                        style="left: 235px; top: 518px;"
                        data-ls="offsetyin: 200; durationin: 2000; delayin: 1400; offsetyout: 300; durationout: 2000; offsetyout: 100; durationout: 2000;">
                        <a href="/contact" class="vs-btn style3 hover-white">View All Products<i
                                class="fas fa-bolt"></i></a>
                    </div>
                </div>
                <% }); %>
        </div>
    </section>
    <!--==============================
    About Area
    ==============================-->
    <section class="vs-about-wrapper space">
        <div class="parallax" data-parallax-image="assets/img/bg/bg-7.jpg"></div>
        <div class="container">
            <div class="row flex-row-reverse align-items-center">
                <div class="col-lg-6 mb-40 mb-lg-0">
                    <div>
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/JjARsrG1GQQ?si=8OwY3jfBT3b0_AsY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-content mb-2 ">
                        <span class="sec-subtitle text-theme h3 mb-2 mb-sm-0">How CHRM portal works ?</span>
                        <p class="pt-2">Know All About Our Best Cardiologist & Heart Specialist CHRM System.<br>
                            Cardiac Second Opinion is a website which has been designed specifically for those who are
                            seeking for the second
                            opinion after being advised an intervention which they are not sure of. In India, after
                            visiting a heart doctor or
                            surgeon, he likely gets a different opinion which makes him confused about which treatment
                            he should go for. To fill
                            this vacuum, Cardiac Second Opinion is designed by making use of algorithms based on
                            American Heart Association and
                            European Cardiological Society which have made guidelines which dictate the treatment as per
                            the disease and not the
                            doctor. Cardiac Second Opinion has a full team comprising Specialist Interventional
                            Cardiologists, Cardiac Surgeons,
                            Bariatric Cardiologists, Electrophysiologists, and Non-Interventional Cardiologists (for
                            treatment with medicines only)
                            on its panel.</p>
                        <a href="/about" class="vs-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Products Area
    ==============================-->
    <section class="vs-service-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row  text-center justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="section-title">
                        <h2 class="h1 ">Our Products</h2>
                        <p>Revolutionize granular customer service for products by leveraging internal or organic
                            resources and proactive human
                            capital to adapt to post-pandemic demands.</p>
                    </div>
                </div>
            </div>
            <div class="position-relative w-100">
                <div class="row product_slider w-100" data-wow-delay="0.3s" data-slide-show="3">
                    <% services.forEach(service=> { %>
                        <div class="col-xl-3 col-lg-4 mb-25">
                            <div class="service-box ms-3 ms-lg-0">
                                <div class="sr-img">
                                    <!-- Dynamically render service image -->
                                    <img style="max-height: 270px;min-height: 270px;object-fit: contain;"
                                        src="/uploads/<%= service.image %>" alt="<%= service.name || 'Service Image' %>"
                                        class="w-100">
                                </div>
                                <div class="sr-content">
                                    <!-- Dynamically render service name and link -->
                                    <h3 class="h5">
                                        <a class="text-reset" href="/service-details/<%= service.id %>">
                                            <%= service.name %>
                                        </a>
                                    </h3>
                                </div>
                                <a href="/service-details/<%= service.id %>" class="icon-btn style4">
                                    <i class="flaticon-quality-of-life"></i>
                                </a>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <!-- Custom Arrows -->
                <button class="custom_next_arrow custom-arrow">
                    <i class="fas fa-chevron-right"></i>
                </button>
                <button class="custom_prev_arrow custom-arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
               
            </div>
        </div>
    </section>
    <!--==============================
    Skill Area
    ==============================-->
    <section class="vs-skill-wrapper  ">
        <div class="container">
            <div class="skill-wrap1 bg-white">
                <div class="row justify-content-center justify-content-lg-between">
                    <div class="col-md-6 col-lg-auto  mb-30">
                        <div class="d-xl-flex text-center text-xl-start skill-box">
                            <span class="ripple-icon hover-style2  align-self-start mb-20 mb-xl-0 mr-20">
                                <i class="fa-solid fa-user"></i></span>
                            <div class="media-body">
                                <h2 class="mt-n2 mb-0 text-theme">30+</h2>
                                <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Innovative Products</p>
                                <p class="fs-xs mb-0">Design and deliver cutting-edge solutions that meet diverse
                                    customer needs. Seamlessly innovate for quality.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-auto  mb-30">
                        <div class="d-xl-flex text-center text-xl-start skill-box">
                            <span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20">
                                <i class="fa-solid fa-calendar-days"></i></span>
                            <div class="media-body">
                                <h2 class="mt-n2 mb-0 text-theme">100+</h2>
                                <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Years of Excellence</p>
                                <p class="fs-xs mb-0">Delivering exceptional product quality backed by years of
                                    expertise and customer trust.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-auto  mb-30">
                        <div class="d-xl-flex text-center text-xl-start skill-box">
                            <span class="ripple-icon  hover-style2 align-self-start mb-20 mb-xl-0 mr-20">
                                <i class="fa-solid fa-face-smile"></i></span>
                            <div class="media-body">
                                <h2 class="mt-n2 mb-0 text-theme">200+</h2>
                                <p class="text-title fs-md fw-medium mt-1 mt-xl-0 mb-2 mb-xl-2">Satisfied Customers</p>
                                <p class="fs-xs mb-0">Enhancing user satisfaction through innovative and reliable
                                    product solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    Appointment Form Area 
    ==============================-->
    <section class="appointment-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 mb-30">
                    <div class="about-content">
                        <span class="sec-subtitle text-theme h3 mb-2 mb-sm-0">Innovative Product Solutions!</span>
                        <h2 class="h1 mb-3">Empowering Your Needs</h2>
                        <div class="row">
                            <div class="col-xl-10 mb-md-2 pb-md-1">
                                <p class="mb-md-4">
                                    Explore cutting-edge product solutions designed to revolutionize industries and
                                    exceed customer
                                    expectations. Experience the future of innovation.
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-4">
                                <ul class="vs-list list-unstyled text-title">
                                    <li>99% Satisfaction Rate</li>
                                    <li>100% Quality Assurance</li>
                                    <li>Affordable Pricing</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-5">
                                <ul class="vs-list list-unstyled text-title">
                                    <li>24/7 Customer Support</li>
                                    <li>Global Availability</li>
                                    <li>50+ Years of Expertise</li>
                                </ul>
                            </div>
                        </div>
                        <ul class="offer-counter counter-list list-unstyled" data-offer-date="12/08/2024">
                            <li>
                                <div class="day count-number ">00</div>
                                <span class="count-name">Days</span>
                            </li>
                            <li>
                                <div class="hour count-number ">00</div>
                                <span class="count-name">Hours</span>
                            </li>
                            <li>
                                <div class="minute count-number ">00</div>
                                <span class="count-name">Minutes</span>
                            </li>
                            <li>
                                <div class="seconds count-number ">00</div>
                                <span class="count-name">Seconds</span>
                            </li>
                        </ul>
                        <div class="vs-code-box mt-20">
                            Use Code: <span class="text-theme">SAVE20</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-30 pt-30 pt-xl-0">
                    <!-- Form -->
            <form action="/" method="POST" class="form-wrap1 bg-white wow fadeInUp" data-wow-delay="0.3s"
                onsubmit="return validateForm(event)">
                <div class="form-title-box bg-title">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <h2 class="h4 mb-1 text-white">Inquire About Products</h2>
                            <p class="mb-0 text-white-light">We’re Here to Help</p>
                        </div>
                        <div class="col-auto d-none d-sm-block">
                            <a href="tel:<%= siteSettings[0].number %>" class="ripple-icon style2"><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-box">
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            <input type="text" id="fullName" name="name" class="form-control style2" placeholder="Full Name"
                                required />
                            <i class="fal small fa-user"></i>
                        </div>
                        <div class="col-xl-6 form-group">
                            <input type="email" id="emailAddress" name="email" class="form-control style2"
                                placeholder="Email Address" required />
                            <i class="fal small fa-envelope"></i>
                        </div>
                        <div class="col-xl-6 form-group">
                            <input type="tel" id="phoneNumber" name="phone" class="form-control style2"
                                placeholder="Phone Number" required />
                            <i class="fal small fa-phone"></i>
                        </div>
                        <div class="col-xl-6 form-group">
                            <input type="password" id="userPassword" name="password" class="form-control style2"
                                placeholder="Password" required />
                            <i class="fal small fa-lock"></i>
                        </div>
                        <div class="col-xl-12 form-group">
                            <textarea id="userMessage" name="message" class="form-control style2" placeholder="Message"
                                required></textarea>
                        </div>
                        <div class="col-xl-12 text-center">
                            <button type="submit" class="vs-btn style2">
                                Submit Inquiry <i class="far fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
                </div>
            </div>

        </div>
    </section>
        <!--==============================
    Testimonial Area
    ==============================-->
        <section class="testimonial-wrapper space-bottom">
            <div class="container">
                <div class="row  text-center justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="section-title">
                            <span class="h3 text-theme sec-subtitle">Testimonial</span>
                        <h2 class="h1">What Customers Say</h2>
                        <p>Experience the innovation of our electronic socket solutions, designed to simplify your life and enhance
                            connectivity. Trusted by thousands of satisfied customers worldwide.</p>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row  testimonial-slider wow fadeInUp" data-wow-delay="0.3s" data-slide-show="2">
                            <% testimonials.forEach(testimonial=> { %>
                                <div class="col-xl-6">
                                    <div class="testimonial-box mb-30 bg-white">
                                        <div class="content">
                                            <p class="fs-md text-truncate"><%- testimonial.description %></p>
                                        </div>
                                        <div class="author-img">
                                            <div class="avater-line"></div>
                                            <div class="avater">
                                                <img src="/uploads/<%= testimonial.testimonialImage %>"
                                                    alt="Author Image">
                                            </div>
                                        </div>
                                        <div class="author-info">
                                            <div class="info">
                                                <h3 class="fs-20 name">
                                                    <%= testimonial.name %>
                                                </h3>
                                            </div>
                                            <div class="testi-rating">
                                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                                    <span style="width:100%">Rated <strong class="rating">5.00</strong>
                                                        out of 5</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--==============================
    Blog Area
    ==============================-->
    <section class="vs-blog-wrapper space-top space-md-bottom">
        <div class="container">
            <div class="row  text-center justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="section-title">
                        <span class="h3 text-theme sec-subtitle">Blog Posts</span>
                        <h2 class="h1 ">Latest News</h2>
                        <p>Proactively revolutionize granular customer service after pandemic internal or "organic"
                            sources proactive human capital rather.</p>
                    </div>
                </div>
            </div>
            <div class="row vs-carousel wow fadeInUp" data-wow-delay="0.3s" data-slide-show="3" data-lg-slide-show="2">
                <% blogs.slice(0, 3).forEach(blog=> { %>
                    <div class="col-xl-4">
                        <div class="vs-blog blog-card">
                            <div class="blog-img">
                                <img style="max-height: 350px;min-height: 350px;object-fit: cover; background-position: top;"
                                    src="/uploads/<%= blog.blogImage %>" alt="Blog Image" class="w-100">
                                <div class="blog-date">
                                    <%= new Date(blog.createdAt).toLocaleDateString('en-US', { year: 'numeric' ,
                                        month: 'long' , day: 'numeric' }) %>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h3 class="blog-title h5 font-body lh-base">
                                    <a href="/blog-details/<%= blog.id %>">
                                        <%= blog.heading %>
                                    </a>
                                </h3>
                                <a href="/blog-details/<%= blog.id %>" class="link-btn">Read More<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <% }); %>

            </div>
        </div>
    </section>

    <%- include('../layout/ui-footer.ejs') %>